<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">
            {{deskripsi}}
        </p>
        <div class="alert alert-danger mt-3" role="alert" *ngIf="isError">
            <h4 class="alert-heading">Oh, Ada kesalahan!</h4>
            <ul>
                <li *ngFor="let k of key">
                    {{ k }}: {{ message[k] }}
                </li>
            </ul>
        </div>
        <hr class="mt-2 mb-3">

        <form [formGroup]="windroseForm" (submit)="onFormWindroseSubmit(windroseForm.value)">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="tanggalawal">Awal</label>
                    <my-date-picker id="tanggalawal" name="date_from" [options]="myDatePickerOptions"
                    formControlName="date_from"></my-date-picker>
                </div>
                <div class="form-group col-md-3">
                    <label for="tanggalakhir">Akhir</label>
                    <my-date-picker id="tanggalakhir" name="date_to" [options]="myDatePickerOptions"
                    formControlName="date_to"></my-date-picker>
                </div>
                <div class="form-group col-md-3">
                    <label for="vmax">Kecepatan</label>
                    <input type="number" step="any" class="form-control" id="vmax" aria-describedby="vmax"
                           placeholder="Kecepatan maksimum"
                           name="v_max"
                           formControlName="v_max">
                </div>
                <div class="form-group col-md-3">
                    <label for="step">Rentang</label>
                    <input type="number" step="any" class="form-control" id="step" aria-describedby="step"
                           placeholder="Rentang kecepatan"
                           name="v_step"
                           formControlName="v_step">
                    <small>Misal: setiap 0.1, 0.2 m/s</small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!windroseForm.valid">PROSES</button>
            <ui-spinner [isShow]="isShow"></ui-spinner>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div id="plotWindrose"></div>
</div>
