<div class="container">
    <div class="alert alert-danger mt-3 form-signin" role="alert" *ngIf="isError">
        <h4 class="alert-heading">Oh, Ada kesalahan!</h4>
        <ul>
            <li *ngFor="let k of key">
                {{ k }}: {{ message[k] }}
            </li>
        </ul>
    </div>

    <form [formGroup]="loginForm"
          class="form-signin mt-3"
          novalidate autocomplete="off" (submit)="onLoginSubmit(loginForm.value)">
        <h2 class="form-signin-heading">Silahkan login <ui-spinner [isShow]="isShow"></ui-spinner></h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text"
               id="inputUsername"
               class="form-control" placeholder="Username" autofocus
               formControlName="username" name="username">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"
               id="inputPassword"
               class="form-control" placeholder="Password"
               formControlName="password" name="password">

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">MASUK</button>
    </form>
</div>
