{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>
        {% block title %}
            Aplikasi Monitoring BBTA3
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    {% block style %}{% endblock %}
    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
</head>
<body>
    {% block kontener %}
        <div class="ui text container">
            {% block header %}
                <div class="gap-kecil"></div>
                <div class="ui stackable menu">
                    <div class="item">
                      <img src="{% static 'drawing.svg' %}" alt="Logo aplikasi monitoring" style="width: 100%;">
                    </div>

                    <a id="browse" class="item">Pengamatan <i class="dropdown icon"></i></a>
                    <a class="item">Tentang aplikasi</a>
                    <div class="ui fluid popup bottom left transition hidden">
                        <div class="ui four column relaxed equal height divided grid">
                            {% for d in daerah %}
                                <div class="column">
                                    <div class="ui link list">
                                        <a href="{% url 'halaman_utama_pk' pk=d.pk %}" class="item">{{ d.nama_objek }} - {{ d.nama_daerah }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block isi %}{% endblock %}
        </div>
    {% endblock %}

    {% block js %}{% endblock %}
</body>
</html>