{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>
        {% block title %}
            Aplikasi Monitoring BBTA3
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    {% block style %}{% endblock %}
    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
</head>
<body>
    {% block kontener %}
        <div class="ui top fixed menu">
            <div class="item">
                <img src="{% static 'drawing.svg' %}" alt="Logo aplikasi monitoring" style="width: 100%;" class="ui top aligned">
            </div>

            <div class="right menu">
                <a href="{% url 'halaman_utama' %}" class="{% if '/monitor/' in request.path %}active red{% endif %} mobile hidden item"><i class="home icon"></i>Utama</a>
                <a href="{% url 'halaman_realtime' %}" id="rlt" class="{% if '/monitor/realtime/' in request.path %}active red{% endif %} mobile hidden item"><i class="signal icon"></i>Real Time</a>
                <a id="about" class="mobile hidden item"><i class="fork icon"></i>Tentang aplikasi</a>

                <div class="mobile only item">
                    <a class="ui basic red icon button"><i class="sidebar icon"></i></a>
                </div>
            </div>

            <div id="modal_about" class="ui modal">
                <div class="header">
                    Aplikasi Monitoring BBTA3
                </div>

                <div class="content">
                    <div class="description">
                        <p>
                            Aplikasi ini dikembangkan oleh kelompok kerja di BBTA3 dan ditenagai oleh Python
                            Django. Silahkan mengakses source code aplikasi di <a
                                href="https://github.com/akbarpn136/monitoring-dj" title="Aplikasi Monitoring">Monitoring-dj</a>
                        </p>
                    </div>
                </div>

                <div class="actions">
                    <div class="ui positive right icon button">
                        OKE
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container">
            {% block isi %}
                <div class="gap-besar" style="margin-top: 50px;"></div>
                {% if messages %}
                    {% for message in messages %}
                    <div{% if message.tags %} class="ui {{ message.tags }} message"{% endif %}>
                        <i class="close icon"></i>
                        <div class="header">
                            PERINGATAN
                        </div>
                       {{ message }}
                    </div>
                    {% endfor %}
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('.message .close').on('click', function(){
                                $(this).closest('.message').transition('fade');
                            });
                        });
                    </script>
                {% endif %}
                <div class="ui five doubling cards">
                    {% for vis in visualisasi %}
                        <div class="teal card">
                            <div class="image">
                                <img src="{{ vis.thumb }}">
                            </div>

                            <div class="content">
                                <div class="header">{{ vis.nama }}</div>
                                <div class="meta">
                                    <span>{{ vis.info }}</span>
                                </div>
                            </div>

                            <div class="extra content">
                                <a href="{% url 'halaman_visual' pk=vis.pk %}" class="ui google plus fluid button">
                                    <i class="unhide icon"></i>
                                    OBSERVASI
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block js %}{% endblock %}
</body>
</html>