{% extends 'master/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ visual.nama }}|Aplikasi Monitoring BBTA3
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'zebra/bootstrap.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'plotly-latest.min.js' %}"></script>
    <script src="{% static 'zebra/zebra_datepicker.js' %}"></script>
    <script src="{% static 'atribut_angin.js' %}"></script>
{% endblock %}

{% block isi %}
    <div class="gap-sedang"></div>
    <div class="ui stacked teal segment">
        <h4 class="ui header">{{ visual.nama }}</h4>
        <p>{{ visual.deskripsi }}</p>
        <span id="data_daerah" data-value="{{ daerah_tertentu }}"></span>
        <span id="data_title_x" data-value=""></span>
        <span id="data_title_y" data-value=""></span>
        <span id="data_judul_besar" data-value=""></span>
        <span id="data_tgl_awl" data-value=""></span>
        <span id="data_tgl_akr" data-value=""></span>

        <form class="ui form">
            <div class="fields">
                <div id="tanggal_awal" class="field">
                    <div class="ui icon input">
                        <input id="in_tgl" type="text" placeholder="Tanggal awal">
                        <i class="calendar icon"></i>
                    </div>
                </div>
                <div id="tanggal_akhir" class="field">
                </div>
                <div id="jenis_grafik" class="field">
                </div>
            </div>
        </form>
    </div>
    <div class="gap-kecil"></div>
    <div id="{{ visual.jenis }}"></div>
    <div id="loader" class="ui text large inverted loader" style="margin-top: 120px;">Loading</div>
{% endblock %}