{% extends 'master/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ visual.nama }}|Aplikasi Monitoring BBTA3
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'zebra/bootstrap.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'plotly-latest.min.js' %}"></script>
    <script src="{% static 'zebra/zebra_datepicker.js' %}"></script>
    {% block skrip_grafik %}<script src="{% static 'atribut_angin.js' %}"></script>{% endblock %}
{% endblock %}

{% block isi %}
    <div class="gap-besar" style="margin-top: 50px;"></div>
    <div class="ui stacked teal segment">
        <h4 class="ui header">{{ visual.nama }}</h4>
        {% block deskripsi_visual %}
        <p>{{ visual.deskripsi }}</p>
        {% endblock %}
        <span id="data_title_x" data-value=""></span>
        <span id="data_title_y" data-value=""></span>
        <span id="data_judul_besar" data-value=""></span>
        <span id="data_tgl_awl" data-value=""></span>
        <span id="data_tgl_akr" data-value=""></span>

        <form class="ui form">
            <div class="fields">
                <div id="tanggal_awal" class="field">
                    {% block pilihan_visual_form %}
                    <div class="ui icon input">
                        <input id="in_tgl" type="text" placeholder="Tanggal awal">
                        <i class="calendar icon"></i>
                    </div>
                    {% endblock %}
                </div>
                <div id="tanggal_akhir" class="field">
                </div>
                <div id="jenis_grafik" class="field">
                </div>
            </div>

            <div class="fields">
                <div id="v_max" class="field">
                </div>
                <div id="v_step" class="field">
                </div>
                <div id="kompas" class="field">
                </div>
            </div>
        </form>
    </div>
    <div class="gap-kecil"></div>
    {% block atribut_visual %}
    <div id="{{ visual.jenis }}"></div>
    {% endblock %}
    <br>
    <div id="loader" class="ui text large inverted loader" style="margin-top: 120px;">MEMUAT DATA</div>
{% endblock %}